@mixin medq($break) {
    @media (min-width: $break-m) {
      @content;
    }
  }

  @mixin medqL($break) {
    @media (min-width: $break-l) {
      @content;
    }
}

@mixin flex($disp: flex, $dir: null, $just: null, $align: null) {
    display: $disp;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    @content;
}

@mixin btn {
  background-color: lighten($base, 20%);
  border-radius: 4px;
  border: none;
}

@mixin btnHover {
  background-color: $base-dark;
  box-shadow: 0px 3px 3px lighten($text-primary, 20%);
}