// Colors

$white: #FFF;
$base: #f29914;
$base-dark: darken($base, 5%);
$text-primary: #282727;
$bg: #34333f;

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;

$font-family: 'Baloo Da 2', cursive;