html {
    background-color: $white;
}

body {
    color: $text-primary;
}

.main-header {
    margin-top: 0px;
    background: linear-gradient(0deg, rgba(63, 63, 63, .7), rgba(63, 63, 63, .7)),
                url('../img/code.jpg') no-repeat top center;
    background-size: cover;
    height: 200px;
}

.head {
        &-profile {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: flex-end;
        height: 200px;
        max-width: $max-width;
        margin: auto;
        @include medq($break-m) {
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 20px;
        }
    }
        &-text {
            @include flex($dir: column, $just: flex-end) {
                align-self: flex-start;
            }
            text-align: center;
            margin-left: 10px;
            color: $white;
            @include medq($break-m) {
                order: 5;
                height: 200px;
                margin-left: 140px;
            }
    }
}



.top-contain {
    height: auto;
    @include flex($dir: column);
    @include medq($break-m) {
        flex-direction: row-reverse;
        padding-top: 20px;
        width: 80%;
        max-width: $max-width;
        margin: auto;
    }
}

.icons,
.contact-btns {
    margin-top: 5px;
    height: auto;
    padding: 8px 0px;
    @include flex();
    @include medq($break-m) {
        align-content: center;
        margin: 10px auto;
    }
}

.contact-btns {
    justify-content: space-between;
}

.left-icons,
.right-icons,
.message,
.follow {
    display: flex;
    height: 100%;
    width: 100%;
    @include medq($break-m) {
        width: auto;
    }
}

.left-icons {
    @include flex();
    @include medq($break-m) {
        $just: space-evenly;
     }
}

.right-icons {
    @include flex($just: flex-end);
    @include medq($break-m) {
       $just: space-evenly;
    }
}


.message button,
.follow button {
    @include flex($dir: row, $just: space-around) {
        align-items: center;
    };
    margin:  auto;
    background-color: $base;
    color: $text-primary;
    height: 30px;
    padding: 4px;
    width: 90%;
    border: none;
    border-radius: 4px;
    align-self: center;
    font-size: 0.6em;
    @include medq($break-m) {
        font-size: 0.8em;
        justify-content: space-evenly;
    }
}

.message,
.follow {
    padding: 0px 10px;
    @include medq($break-m) {
        width: 200px;
    }
}

.intro-text {
    width: 94%;
    font-size: 0.9em;
    line-height: 18px;
    margin: 10px auto;
    padding-bottom: 10px;
    max-width: $max-width;
    border-bottom: 1px solid lighten($text-primary, 50%);
}

.post-btns {
    @include flex($dir: row, $just: space-around, $align: center);
    max-width: $max-width;
    margin: auto;
    @include medq($break-m) {
        justify-content: space-evenly;
    }
}

.post-btns button {
    width: 30%;
    padding: 10px;
    font-size: .6em;
    @include medq($break-m) {
        width: 25%;
        font-size: 0.8em;
    }
}

.post-btns button:hover {
    background-color: $base-dark;
}

.feed {
    width: 80%;
    margin: auto;
    @include flex($dir: column);
}

.post {
    @include flex($dir: row, $just: space-between);
}
