html {
    background-color: $white;
}

body {
    color: $text-primary;
    font-family: $font-family;
}

.main-header {
    margin-top: 0px;
    background: linear-gradient(0deg, rgba(63, 63, 63, .7), rgba(63, 63, 63, .7)),
                url('../img/code.jpg') no-repeat top center;
    background-size: cover;
    height: 200px;
}

.head {
        &-profile {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: flex-end;
        height: 200px;
        max-width: $max-width;
        margin: auto;
        @include medq($break-m) {
            flex-direction: row;
            justify-content: flex-start;
            padding-left: 20px;
        }
    }
        &-text {
            @include flex($dir: column, $just: flex-end) {
                align-self: flex-start;
            }
            text-align: center;
            margin-left: 10px;
            color: $white;
            @include medq($break-m) {
                order: 5;
                height: 200px;
                margin-left: 140px;
            }
    }
}



.top-contain {
    height: auto;
    @include flex($dir: column);
    @include medq($break-m) {
        flex-direction: row-reverse;
        padding-top: 20px;
        width: 80%;
        max-width: $max-width;
        margin: auto;
    }
}

.icons,
.contact-btns {
    margin-top: 5px;
    height: auto;
    padding: 8px 0px;
    @include flex();
    @include medq($break-m) {
        align-content: center;
        margin: 10px auto;
    }
}

.contact-btns {
    justify-content: space-between;
}

.left-icons,
.right-icons,
.message,
.follow {
    display: flex;
    height: 100%;
    width: 100%;
    @include medq($break-m) {
        width: auto;
    }
}

.left-icons {
    @include flex();
    @include medq($break-m) {
        $just: space-evenly;
     }
}

.right-icons {
    @include flex($just: flex-end);
    @include medq($break-m) {
       $just: space-evenly;
    }
}


.message button,
.follow button {
    @include flex($dir: row, $just: space-around) {
        align-items: center;
    };
    margin:  auto;
    background-color: $base;
    color: $text-primary;
    height: 30px;
    padding: 4px;
    width: 90%;
    transition: background-color .4s ease-in, box-shadow .4s ease-in;
    @include btn;
    align-self: center;
    font-size: 0.6em;
    @include medq($break-m) {
        font-size: 0.8em;
        justify-content: space-evenly;
    }
}

.message,
.follow {
    padding: 0px 10px;
    @include medq($break-m) {
        width: 200px;
    }
}

.intro-text {
    width: 94%;
    font-size: 0.9em;
    line-height: 18px;
    margin: 10px auto;
    padding-bottom: 10px;
    max-width: $max-width;
    border-bottom: 1px solid lighten($text-primary, 50%);
}

.post-btns {
    @include flex($dir: row, $just: space-around, $align: center);
    max-width: $max-width;
    margin: 20px auto;
    @include medq($break-m) {
        justify-content: space-evenly;
    }
}

.post-btns button {
    @include btn;
    background-color: $base;
    width: 30%;
    padding: 10px;
    font-size: .6em;
    transition: background-color .4s ease-in, box-shadow .4s ease-in;
    @include medq($break-m) {
        width: 25%;
        font-size: 0.8em;
    }
}

button:hover {
    @include btnHover;
}

.feed {
    width: 95%;
    max-width: $max-width;
    margin: 40px auto 100px;
    overflow: hidden;
    @include flex($dir: column);
    border-radius: 4px;;
    box-shadow: 0 1px 4px lighten($bg, 50%);
    padding-bottom: 20px;
    @include medq($break-m) {
        width: 60%;
    }
}

.post {
    @include flex($dir: row, $just: space-evenly, $align: center);
    padding: 20px;
}

.feed-text {
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0 1px 4px lighten($bg, 50%);
    @include flex($dir: column);
    background-color: lighten($base, 45%);
}

.feed-title {
    @include flex($dir: column, $just: space-between, $align: center);
    padding: 0px 20px;
    @include medq($break-m ) {
        flex-direction: row;
    }
}

.feed-title p {
    font-weight: 600;
    font-size: .8em;
}

.feed-inner {
    @include flex($dir: column, $just: center);
    width: 80%;
    margin: auto;
}

hr {
    border: 1px solid $base;
    width: 80%;
    margin: 15px auto;
}

.join {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:30px solid $base;
    @include medqL($break-l) {
        border-right-width: 80px;
    }
  }

  .reactions {
      border-top: 1px solid darken($white, 10%);
      width: 100%;
      padding-top:8px;
      @include flex($dir: column, $just: flex-start, $align: center);
      @include medqL($break-l) {
          flex-direction: row;
      }
  }

.single-react {
      @include flex($align: center);
      margin: 0px 6px;
  }

.feed-comment {
    @include flex($just: flex-end);
    flex-grow: 4;
}

.figures {
    @include flex($dir: row, $just: center);
    margin-bottom: 5px;
    @include medqL($break-l) {
        margin-bottom: 0px;
    }
}

  .feed-comment a {
      color: $text-primary;
      text-decoration: none;
      margin: 2px;
      width: 60px;
      text-align: center;
      font-size: .8em;
      border-radius: 4px;
      background-color: $base;
      @include medqL($break-l) {
          width: 80px;
          font-size: .9em;
          margin: 4px;
          padding: 0px 4px;
      }
  }

footer {
    width: 100%;
    @include flex($dir: row, $just: space-around);
    background-color: $base;
    height: auto;
    position: fixed;
    bottom: 0px;
}

.footer-left,
.footer-right {
    @include flex($dir: row, $just: space-evenly);
    width: 40%;
}