html {
    background-color: $white;
}

// * {
//     border: 1px solid red;
// }

body {
    color: $text-primary;
}

.main-header {
    margin-top: 0px;
    background: linear-gradient(0deg, rgba(63, 63, 63, .7), rgba(63, 63, 63, .7)),
                url('../img/code.jpg') no-repeat top center;
    background-size: cover;
    height: 200px;
}

.head-profile {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    height: 200px;
    max-width: 1200px;
    margin: auto;
    @include medq($break-m) {
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 20px;
      }

}

.head-text {
    @include flex($dir: column, $just: flex-end) {
        align-self: flex-start;
    }
    text-align: center;
    margin-left: 10px;
    color: $white;
    @include medq($break-m) {
        order: 5;
        height: 200px;
        margin-left: 140px;
    }
}

.top-contain {
    @include flex($dir: column);
    @include medq($break-m) {
        flex-direction: row-reverse;
    }
}

.icons,
.contact-btns {
    margin-top: 5px;
    height: auto;
    @include flex();
    @include medq($break-m) {
        justify-content: flex-end;
        max-width: 1200px;
        margin: 10px auto;
    }
}

.left-icons,
.right-icons,
.message,
.follow {
    display: flex;
    height: 100%;
    width: 100%;
    @include medq($break-m) {
        width: auto;
    }
}

.left-icons {
    @include flex();
    @include medq($break-m) {
        $just: space-evenly;
     }
}

.right-icons {
    @include flex($just: flex-end);
    @include medq($break-m) {
       $just: space-evenly;
    }
}

button {
    margin: 20px auto 10px;
    background-color: $base;
    color: $text-primary;
    padding: 4px;
    width: 80%;
    border: none;
    border-radius: 4px;

}

.message,
.follow {
    @include medq($break-m) {
        width: 200px;
         border: 1px solid;
    }
}