h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h2.profile-name,
h4.profile-handle {
    margin: 5px 0;
}

h2.profile-name {
    font-size: .9em;
    @include medq($break-m) {
        font-size: 1.35em;
    }
}

h4.profile-handle {
    font-size: .8em;
    @include medq($break-m) {
        font-size: 1.25em;
    }
}
